.match-game{
  display: none;
  span{
    font-size: 40px;
    color: white;
  }
  h3{
    font-size: 24px;
  }
  &-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 590px;
    background-color: rgba(0, 38, 100, 0.318);
    border-radius: 40px;
    padding-bottom: 10px;
  }
  img{
    width: 120px;
    margin-top: 10px;
  }
  #img-espectacular{
    display: none;
    width: 500px;
  }
}
@keyframes dancing {
  0% {
    transform: rotate(-2deg) translateX(-2px) rotate(12deg);
  }
  50% {
    transform: rotate(2deg) translateX(12px) rotate(-12deg);
  }
  100% {
    transform: rotate(-2deg) translateX(-2px) rotate(12deg);
  }
}


.main-div3{
display: none;
  #canvas {
    display: none;
    width: 70vw;
    height: 50vh;
    min-width: 500px;
    min-height: 500px;
    border-radius: 20px;
  }
  #shooter-start{
    display: inline;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 10px;
    bottom: 25%;
    left: auto;
    padding: 10px 20px;
    font-size: 30px;
    opacity: 1;
    transition: 1s ease-in-out;
  }
  #shooter-start:hover{
    opacity: 1;
    scale: 1.2;
  }
  #shooter-restart{
    display: none;
    padding: 10px 20px;
    font-size: 30px;
  }
}
#team-rocket-end{
  position: absolute;
  top: 50%;
  left: 40%;
  display: none;
  img{
    width: 150%;
    height: auto;
  }
}