.main{
  &-div0{
    display: none;
    h1{
      color: white;
      font-size: 60px;
      animation: dancing 1s infinite;
      margin-bottom: 15px
    }
    &-div{
      button{
        font-size: 38px;
        color: white;
        background-color: transparent;
        border: none;
      }
      &-ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      li{
      background-image: url("../../public/img/note-dexxx.png");
      background-size:contain;
      height: 179px;
      width: 420px;
      padding-top: 57px;
      font-size: 20px;
      flex-wrap: wrap;
      position: relative;
      button{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 60px;
        height: auto;
        font-size: 30px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px greenyellow;
        background-color: transparent;
        border: none;
        transition: 0.5s ease-out;
      }
      button:hover{
        text-shadow: 3px 3px green;
        color: rgb(255, 121, 121);
      }
        }
      }
    }
  }

}


@keyframes dancing {
  0% {
    transform: rotate(-2deg) translateX(-2px) rotate(5deg);
  }
  50% {
    transform: rotate(2deg) translateX(12px) rotate(-5deg);
  }
  100% {
    transform: rotate(-2deg) translateX(-2px) rotate(5deg);
  }
}