.main{
  &-div0{
    display: none;
    h1{
      color: blue;
    }
    &-div{

      &-ul{
        li{
      background-image: url("../../public/img/note-dexxx.png");
      background-size:contain;
      height: 179px;
      width: 420px;
      padding-top: 50px;
      font-size: 20px;
        }
      }
    }
  }

}