* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(250, 223, 223);
}
body .header-h1 {
  color: white;
  margin: 50px 0px;
  padding: 10px 30px;
  font-size: 50px;
  font-family: Lobster, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(0, 0, 0, 0.509);
  border-radius: 15px;
}
body .header-div0 {
  display: flex;
  justify-content: space-around;
}
body .header-div0 #loading-image {
  display: none;
  width: 300px;
}
body .header-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .header-div1 #input-box {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .header-div1 #input-box h5 {
  color: white;
  background-color: rgba(66, 66, 66, 0.513);
  border-radius: 20px;
  margin-top: 10px;
}
body .header-div1 #input-box #input-text {
  display: none;
  padding: 5px 10px;
}
body .header-div1 #input-box #input-space {
  background-color: red;
  position: relative;
}
body .header-div1 #input-box #input-space h3 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 24px;
  color: grey;
}
body .header-div1 input {
  width: 400px;
  display: none;
  height: 30px;
  font-size: 20px;
}
body .header-div1 img {
  display: none;
}
body .header-ul {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}
body .header-ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style: none;
  width: 7vw;
  min-width: 60px;
  height: 7vw;
  min-height: 60px;
  background-image: url("../../public/img/pokeball.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 10px;
}
body .header-ul li:hover {
  width: 14vw;
  height: 7vw;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}
body .header-ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}
body .header-ul li:hover::before {
  opacity: 1;
}
body .header-ul li span {
  position: absolute;
  font-size: 1px;
}
body .header-ul li .title {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}
body .header-ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
  font-size: 1.5rem;
}

.main-div0 {
  display: none;
}
.main-div0 #btn-add {
  transition: 0.2s ease-in-out;
}
.main-div0 #btn-add:hover {
  scale: 1.2;
  color: rgb(99, 255, 99);
}
.main-div0 h1 {
  color: rgb(69, 23, 23);
  font-size: 60px;
  animation: dancing 1s infinite;
  margin-bottom: 15px;
}
.main-div0-div form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-div0-div form input {
  height: 35px;
  width: 400px;
}
.main-div0-div form button {
  font-size: 38px;
  color: white;
  background-color: transparent;
  border: none;
}
.main-div0-div-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-div0-div-ul li {
  background-image: url("../../public/img/note-dexxx.png");
  background-size: contain;
  height: 179px;
  width: 420px;
  padding-top: 57px;
  font-size: 20px;
  font-weight: 600;
  flex-wrap: wrap;
  position: relative;
}
.main-div0-div-ul li button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: auto;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px greenyellow;
  background-color: transparent;
  border: none;
  transition: 0.5s ease-out;
}
.main-div0-div-ul li button:hover {
  text-shadow: 3px 3px green;
  color: rgb(255, 121, 121);
}

@keyframes dancing {
  0% {
    transform: rotate(-2deg) translateX(-2px) rotate(5deg);
  }
  50% {
    transform: rotate(2deg) translateX(12px) rotate(-5deg);
  }
  100% {
    transform: rotate(-2deg) translateX(-2px) rotate(5deg);
  }
}
.main {
  padding: 0px 5%;
  display: flex;
}
.main-div1 {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.main-div1 figure {
  background-image: url("../../public/img/pokedexx.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 450px;
  height: 400px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  padding-top: 30px;
  display: flex;
  transition: 0.3s ease-in-out;
}
.main-div1 figure h2 {
  font-size: 25px;
  text-shadow: 1px 1px rgb(0, 218, 51);
  color: white;
  background-color: black;
  display: inline;
  overflow: hidden;
  padding: 4px 10px;
  border-radius: 15px;
  background: linear-gradient(to right, rgb(252, 4, 4), rgb(3, 141, 162), rgb(252, 4, 4));
  background-size: 600% 100%;
  animation: gradientAnimation 5s infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-div1 figure article {
  font-size: 25px;
  color: white;
  padding-top: 100px;
}
.main-div1 figure p {
  font-size: 25px;
  text-shadow: 1px 1px white;
}
.main-div1 figure img {
  width: 210px;
  margin-top: 20px;
  margin-bottom: -10px;
  transition: 1s ease-in-out;
}
.main-div1 figure:hover {
  scale: 1.1;
  transform: rotate(-3deg);
}
.main-div1 div {
  margin-top: 35px;
}

.match-game {
  display: none;
}
.match-game span {
  font-size: 40px;
  color: white;
}
.match-game h3 {
  font-size: 24px;
}
.match-game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 590px;
  background-color: rgba(0, 38, 100, 0.318);
  border-radius: 40px;
  padding-bottom: 10px;
}
.match-game img {
  width: 120px;
  margin-top: 10px;
}
.match-game #img-espectacular {
  display: none;
  width: 500px;
}

@keyframes dancing {
  0% {
    transform: rotate(-2deg) translateX(-2px) rotate(12deg);
  }
  50% {
    transform: rotate(2deg) translateX(12px) rotate(-12deg);
  }
  100% {
    transform: rotate(-2deg) translateX(-2px) rotate(12deg);
  }
}
.main-div3 {
  display: none;
}
.main-div3 #canvas {
  display: none;
  width: 70vw;
  height: 50vh;
  min-width: 500px;
  min-height: 500px;
  border-radius: 20px;
}
.main-div3 #shooter-start {
  display: inline;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  bottom: 25%;
  left: auto;
  padding: 10px 20px;
  font-size: 30px;
  opacity: 1;
  transition: 1s ease-in-out;
}
.main-div3 #shooter-start:hover {
  opacity: 1;
  scale: 1.2;
}
.main-div3 #shooter-restart {
  display: flex;
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  bottom: 25%;
  padding: 10px 20px;
  font-size: 30px;
}

#team-rocket-end {
  position: absolute;
  top: 50%;
  left: 40%;
  display: none;
}
#team-rocket-end img {
  width: 150%;
  height: auto;
}/*# sourceMappingURL=style.css.map */